<header id="siteHeader">
  <h1>
    <a href="/">
      Chris OBrien <span>designer, et cetera</span>
    </a>
  </h1>
  <span class="toggle-nav" >
    <a href="#" id="toggleNav">
    <svg id="navIcon" data-name="Nav Icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
      <title>menu-icon</title>
      <line class="cls-1" y1="3.54" x2="16" y2="3.54"/>
      <line class="cls-2" y1="8"    x2="16" y2="8"/>
      <line class="cls-3" y1="12.46" x2="16" y2="12.46"/>
    </svg>
    </a>
  </span>
  <nav id="peekaboo">
    <span class="headshot">
      <img src="{{ site:chris_photo }}" alt="Nice little photo of Chris OBrien.">
    </span>
    <p>
      {{ site:bio }}
    </p>
    <ul>
      <li>
        <a href="https://twitter.com/tasketernal">
          <svg class="icon icon-twitter"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use></svg>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/chriskevinobrien">
          <svg class="icon icon-linkedin"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-linkedin"></use></svg>
        </a>
      </li>
      <li>
        <a href="https://hellodative.com/">
          <svg class="icon icon-dative"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-dative"></use></svg>
        </a>
      </li>
    </ul>
  </nav>
</header>
