
body {
  @include serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: $blk;
  background: lighten($blk,85%);

  @media only screen and (min-width: $screen-sm) {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  a {
    color: $blk;
    text-decoration: none;
  }
}

h1,h2,h3,h4,h5,h6 {
  @include serif;
  font-weight: 700;
  margin: 1rem 0;
  padding: .4rem 0;
  font-size: 2.2rem;
  line-height: 2.6rem;

  @media only screen and (min-width: $screen-sm) {
    margin: 1.6rem 0;
    padding: .8rem 0;
    font-size: 3.6rem;
    line-height: 3.8rem;
  }
}


pre {
  background: rgba($blk,.05);
  border: 1px solid  rgba($blk,.1);
  padding: .5rem;
  border-radius: 2px;
}

blockquote {
  font-size: 1.2em;
  line-height: 1.3em;
  font-style: italic;
  border-left: 2px solid $blk;
  margin: 1.2rem 0;
  padding: 1rem 1rem;

  @media only screen and (min-width: $screen-sm) {
    padding: 1.2rem 1rem;
  }
}


.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 700px;
}

.wrapper > section {
  img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;

  }
}


section.post {
  margin: 4rem 0 0 0;
  background: #fff;
  border: 1px solid lighten($blk,81%);
  padding: .5rem;
  border-radius: 3px;

  h1:first-of-type {
    margin-top: 0;
  }
}

.content-wrapper {
  padding: 2rem;
}


header {
  text-align: center;

  h1 {
    margin: 0;
    padding: .5rem;
    font-size: 1.2rem;
    color: $blk;
    font-weight: 900;
    span {
      font-weight: 300;
    }
  }
}


small.date {
  @include serif;
  font-weight: 200;
  display: block;
  font-size: .8rem;
  text-align: left;
  margin-left: .5rem;
  color: rgba($blk,.2);
}


footer {
  text-align: center;
  padding: 4rem 2rem 2rem;
  font-size: 1rem;
}
