.icon {
  display: inline-block;
  width: 2.8rem;
  height: 2.8rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.headshot {
  display: block;

  img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: 0 auto 1rem;
  }
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  padding-left: 10vw;
  padding-right: 10vw;
  background: rgba($blk,.96);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  z-index: 888;
  transition: transform 500ms cubic-bezier(.57,-0.16,.27,1.2);

  @media only screen and (min-width: 480px) {
    padding-left: 30vw;
    padding-right: 30vw;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 1.4rem;

    li {
      display: inline;
    }
  }
}

.nav-is-hidden nav {
  transform: translateX(100%);
}

.nav-is-visible nav {
  transform: translateX(0);

}

body.nav-is-visible {
  overflow-y: hidden;
}

.toggle-nav {
  position: fixed;
  top: .5rem;
  right: 1rem;
  z-index: 999;

  a {
    display: block;
    height: 1rem;
    width: 1rem;
    padding: .5rem;
  }
}

#navIcon {
  fill:none;
  stroke:#231f20;
  stroke-width: 2;
  stroke-miterlimit:10;
  transition: stroke 500ms cubic-bezier(.57,-0.16,.27,1.2);

  .cls-2 {
    transform: translateX(4px);
    transition: transform 200ms cubic-bezier(.57,-0.16,.27,1.2);
  }
  .cls-3 {
    transform: translateX(8px);
    transition: transform 200ms cubic-bezier(.57,-0.16,.27,1.2);
  }
}

a:hover #navIcon {
  .cls-2 {
    transform: translateX(0);
  }
  .cls-3 {
    transform: translateX(0);
  }

}


.nav-is-visible #navIcon {
  stroke: #f2f2f2;
}

.nav-is-visible #peekaboo {
  svg {
   fill: #fff;
  }

  a {
    margin: .5rem;
  }

}
